@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --app-padding: 0 150px;
  --button-padding: 16px 35px;
  --header-one: 2.375rem;
  --header-five: 1.187rem;
  --p-size: 1.5rem;
  --small-font-size: 1rem;
  --btn-font-size: 0.813rem;
}
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--header-one);
  font-size: 600;
}

h5 {
  font-size: var(--header-five);
  font-weight: 600;
}
p {
  font-size: var(--p-size);
}
small {
  font-size: var(--small-font-size);
  line-height: 1.5;
}

section {
  padding: var(--app-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
